<div class="content-container">
    <div class="content-area">


        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="card clickable" routerLink='/administrator/systems'>
                    <div class="card-block text-center">
                        <clr-icon shape="cluster" class="is-highlight has-badge--success" size="120"></clr-icon>
                        <h3 class="card-title text-center">Systemes</h3>
                        <p class="card-text">

                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-sm btn-link">ระบบจัดการสิทธิ์ผู้ใช้งาน</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="card clickable" routerLink='/administrator/account'>
                    <div class="card-block text-center">
                        <clr-icon shape="users" class="is-highlight" size="120"></clr-icon>
                        <h3 class="card-title">Accounts</h3>
                        <p class="card-text">
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a routerLink='/administrator/account' class="btn btn-sm btn-link">ข้อมูลบัญชีผู้ใช้งาน</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="card clickable" routerLink='/administrator/history'>
                    <div class="card-block text-center">
                        <clr-icon shape="history" class="is-highlight" size="120"></clr-icon>
                        <h3 class="card-title">Historry</h3>
                        <p class="card-text">

                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a routerLink='/administrator/history' class="btn btn-sm btn-link">ข้อมูลการใช้งาน</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>