<!-- <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card clickable">
            <a href="{{env.purchasingUrl}}">
                <div class="card-block text-center">
                    <clr-icon shape="shopping-cart" class="is-highlight " size="120"></clr-icon>
                    <h3 class="card-title text-center">Purchasing</h3>
                    <p class="card-text">

                    </p>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-sm btn-link">การจัดซื้อยาและเวชภัณฑ์</a>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card clickable">
            <a href="{{env.planningUrl}}">
                <div class="card-block text-center">
                    <clr-icon shape="event" class="is-highlight" size="120"></clr-icon>
                    <h3 class="card-title">Planning</h3>
                    <p class="card-text">
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-sm btn-link">แผนจัดการชื้อยาและเวชภัณฑ์</a>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card clickable">
            <a href="{{env.inventoryUrl}}">
                <div class="card-block text-center">
                    <clr-icon shape="data-cluster" class="is-highlight" size="120"></clr-icon>
                    <h3 class="card-title">Inventory</h3>
                    <p class="card-text">

                    </p>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-sm btn-link">คลังยา</a>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card clickable">
            <a href="{{env.materialsUrl}}">
                <div class="card-block text-center">
                    <clr-icon shape="storage" class="is-highlight" size="120"></clr-icon>
                    <h3 class="card-title">Materials</h3>
                    <p class="card-text">

                    </p>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-sm btn-link">ฐานข้อมูลยาและเวชภัณฑ์</a>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card clickable">
            <a href="{{env.umUrl}}">
                <div class="card-block text-center">
                    <clr-icon shape="cog" class="is-highlight" size="120"></clr-icon>
                    <h3 class="card-title">Administrator</h3>
                    <p class="card-text">

                    </p>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-sm btn-link">ผู้ดูแลระบบ</a>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card clickable">
            <a href="{{env.contractsUrl}}">
                <div class="card-block text-center">
                    <clr-icon shape="bar-chart" class="is-highlight" size="120"></clr-icon>
                    <h3 class="card-title">contacts</h3>
                    <p class="card-text">

                    </p>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-sm btn-link">สัญญา</a>
                </div>
            </a>
        </div>
    </div>
</div> -->
<app-dashboard>
    
</app-dashboard>