<clr-main-container>
    <clr-header class="header-6">
        <div class="branding">
            <a class="nav-link">
                <img src="./assets/images/logo.png" alt="" width="80" style="margin-right:10px;">
                <!-- <span class="title">MMIS@MOPH </span> -->
                <span class="title">
                    <a href="http://mmis.moph.go.th" style="color: white ">MMIS@MOPH</a>
                </span>
            </a>
        </div>
    </clr-header>
    <div class="login-wrapper">
        <form class="login">
            <label class="title">
                <h3 class="welcome">ยินดีต้อนรับ
                </h3>
                {{hospitalName}}
                <h5 class="hint">
                    MMIS&#174; {{version}}
                </h5>
                <h5 class="hint">
                    ปีงบประมาณ {{budgetYear}} ({{dateTime}})
                </h5>
            </label>

            <div class="login-group">
                <input (keypress)="enterLogin($event)" (keyup)="selectWarehouse($event)" class="username" [(ngModel)]="username"
                    type="text" name="login_username" placeholder="Username">
                <input (keypress)="enterLogin($event)" class="password" [(ngModel)]="password" type="password" name="login_password"
                    placeholder="Password">
                <div class="select">
                    <select [(ngModel)]="userWarehouseId" name="userWarehouseId">
                        <option *ngFor="let w of warehouses" [value]="w.user_warehouse_id">{{w.warehouse_name}} -
                            {{w.warehouse_type}}</option>
                    </select>
                </div>
                <div style="text-align: center" *ngIf="isLogging">
                    <span class="spinner spinner-inline">
                        Loading...
                    </span>
                    <span>
                        Logging in...
                    </span>
                </div>
                <button type="button" (click)="doLogin()" class="btn btn-primary" [disabled]="!userWarehouseId || !username || !password || isLogging">LOG
                    IN</button>
            </div>
            <div style="margin-top: 50%;text-align: center ">
                <a href="http://mmis.moph.go.th"> mmis.moph.go.th</a>
            </div>
        </form>
    </div>
</clr-main-container>