<clr-main-container>
    <clr-header class="header-6">
        <div class="branding">
            <a class="nav-link">
                <img src="./assets/images/logo.png" alt="" width="80" style="margin-right:10px;">
                <span class="title">MMIS@MOPH </span>

            </a>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-text" clrDropdownTrigger>
                    คู่มือ
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a href="javascript://" (click)="showManualStaff()" clrDropdownItem>คู่มือเจ้าหน้าที่หน่วยเบิก/รพ.สต.</a>
                    <!-- <a href="javascript://" (click)="logout()" clrDropdownItem>ออกจากระบบ</a> -->
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </clr-header>
    <div class="login-wrapper">
        <form class="login">
            <label class="title">
                <h3 class="welcome">ยินดีต้อนรับ
                </h3>
                {{hospitalName}}
                <h5 class="hint">
                    MMIS&#174; {{version}}
                </h5>
            </label>

            <div class="login-group">
                <input (keypress)="enterLogin($event)" (keyup)="selectWarehouse($event)" class="username" [(ngModel)]="username" type="text"
                    name="login_username" placeholder="Username">
                <input (keypress)="enterLogin($event)" class="password" [(ngModel)]="password" type="password" name="login_password" placeholder="Password">
                <div class="select">
                    <select [(ngModel)]="userWarehouseId" name="userWarehouseId">
                        <option *ngFor="let w of warehouses" [value]="w.user_warehouse_id">{{w.warehouse_name}} - {{w.warehouse_type}}</option>
                    </select>
                </div>
                <div style="text-align: center" *ngIf="isLogging">
                    <span class="spinner spinner-inline">
                        Loading...
                    </span>
                    <span>
                        Logging in...
                    </span>
                </div>
                <button type="button" (click)="doLogin()" class="btn btn-primary" [disabled]="!userWarehouseId || !username || !password || isLogging">LOG IN</button>
            </div>
        </form>
    </div>
</clr-main-container>