#container {
    height:90%;
    width:90%;
    position: sticky;
}
.color_Tomato{
    color:Tomato;
}
.color_Turquoise{
    color:Turquoise;
}
.color_SteelBlue{
    color:SteelBlue;
}
.color_Orange{
    color:Orange;
}
.color_YellowGreen{
    color:YellowGreen;
}
.padding__1em{
    padding:1em; 
}
.margin__lr__05em{
    margin:0.5em; 
}
.margin__lr__1em{
    margin-left:1em;
    margin-right:1em;  
}
.padding__lr__05em{
    padding:0.5em; 
}
.padding__05em{
    padding: 0.5em
}
.padding__tb__1em{
    padding-top: 1em;
    padding-bottom: 1em;
}
.margin__1em{
    margin:1em;
}
.center{
    text-align: center;
}