<div class="row" *ngIf="Purchasing">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                <span>สถานะใบสั่งซื้อ</span>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div style="display: flex; align-items: center; justify-content: center; margin-top:1em">
                        <chart id="container" [options]="chartOptions_Orders"></chart>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="padding__tb__1em margin__lr__1em">
                        <div class="color_Tomato">
                            <div class="row">
                                <div>
                                    <div>
                                        ก่อนเตรียมใบสั่งซื้อ:
                                    </div>
                                    <span class="label label-blue"> {{data_po[0]}} รายการ </span>
                                </div>
                            </div>
                        </div><br>
                        <div class="color_Turquoise">
                            <div class="row">
                                <div>
                                    <div>
                                        เตรียมใบสั่งซื้อ:
                                    </div>
                                    <span class="label label-blue"> {{data_po[1]}} รายการ / {{data_po_price[1]|
                                        number:'1.2-2'}}
                                        บาท </span>
                                </div>
                            </div>
                        </div><br>
                        <div class="color_SteelBlue">
                            <div class="row">
                                <div>
                                    <div>
                                        ยืนยันการสั่งซื้อ:
                                    </div>
                                    <span class="label label-blue"> {{data_po[2]}} รายการ / {{data_po_price[2]|
                                        number:'1.2-2'}}
                                        บาท </span>
                                </div>
                            </div>
                        </div><br>
                        <div class="color_Orange">
                            <div class="row">
                                <div>
                                    <div>
                                        อนุมัติ:
                                    </div>
                                    <span class="label label-blue"> {{data_po[3]}} รายการ / {{data_po_price[3]|
                                        number:'1.2-2'}}
                                        บาท </span>
                                </div>
                            </div>
                        </div><br>
                        <div class="color_YellowGreen">
                            <div class="row">
                                <div>
                                    <div>
                                        รับเข้าคลัง:
                                    </div>
                                    <span class="label label-blue"> {{data_po[4]}} รายการ / {{data_po_price[4]|
                                        number:'1.2-2'}}
                                        บาท </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                <span>รายการที่ถึงจุดสั่งซื้อ</span>
                <span style="float: right;">ทั้งหมด {{SumOrderPoint| number: '0.0' }} รายการ</span>
            </div>
            <div style="display: flex; align-items: center; justify-content: center; margin-top:1em">
                <chart id="container" [options]="chartOptionsOrderPoint"></chart>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="Planning">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <span>ประวัติการใช้งบประมาณ</span>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <span style="float: right;">
                            <div style="display: inline-block;">
                                <button class="btn btn-sm btn-primary margin__lr__1em" (click)="dayOrmonth(1)">วัน</button>
                                <button class="btn btn-sm btn-success" (click)="dayOrmonth(2)" style="margin-right:3em">เดือน</button>
                            </div>
                            <div style="display: inline-block;" class="select">
                                <select [(ngModel)]="selectedBudgetDetailId" name="bgDetailId" (change)="getBudgetTransaction()">
                                    <option value="">งบประมาณทั้งหมด</option>
                                    <option [value]="b.bgdetail_id" *ngFor="let b of budgetList">{{b.budget_desc}}</option>
                                </select>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div style="display: flex; align-items: center; justify-content: center; margin-top:1em">
                        <chart id="container" [options]="getBudgetTransactionChart"></chart>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div style="padding:1em">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <my-date-picker-th name="mydate" (dateChanged)="onStartDateChanged($event)" [options]="myDatePickerOptions"
                                [(ngModel)]="startDate" required></my-date-picker-th>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label for="endDate" class="required">ถึง</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <my-date-picker-th name="mydate" (dateChanged)="oneEndDateChanged($event)" [options]="myDatePickerOptions"
                                [(ngModel)]="endDate" required></my-date-picker-th>
                        </div>
                    </div>
                    <div class="margin__1em row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="selectedBudgetDetailId">
                            <div class="row margin__1em" style="border-width:3px;border-style:solid;border-color: SteelBlue;font-size: 17px">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    งบจัดสรร
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <span style="float: right;">{{BudgetAll| number:'1.2-2'}} บาท</span>
                                </div>
                            </div>
                            <div class="row margin__1em" style="border-width:3px;border-style:solid;border-color: Tomato;font-size: 17px">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    งบที่ถูกใช้
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <span style="float: right;">{{BudgetAmount | number:'1.2-2'}} บาท</span>
                                </div>
                            </div>
                            <div class="row margin__1em" style="border-width:3px;border-style:solid;border-color: YellowGreen;font-size: 17px">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    จำนวนคงเหลือ
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <span style="float: right;">{{BudgetAll-BudgetAmount | number:'1.2-2'}} บาท</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <span>คงคลัง</span>
                </div>
                <div style="display: flex; align-items: center; justify-content: center; margin-top:1em">
                    <chart id="container" [options]="chartOptions_Inventory"></chart>
                </div>
            </div>
        </div>
    </div> -->
<div class="row" *ngIf="Inventory || InventoryWarehouse || Requisition">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                <span>มูลค่าคงคลัง</span>
                <span style="float: right;">
                    รวม บาท
                </span>
            </div>
            <div style="display: flex; align-items: center; justify-content: center; margin-top:1em">
                <chart id="container" [options]="inventoryValue"></chart>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                <span>รับเข้าคลัง/รายการเบิก</span>
            </div>
            <div class="card-block margin__1em">
                <div class="row padding__tb__1em">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <span>จำนวนใบสั่งซื้อที่รอรับเข้าคลัง </span>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div style="float: right;font-size: 20px">
                            <span style="color:chocolate">{{poApproved}}</span>
                            <span>รายการ</span>
                        </div>
                    </div>
                </div>
                <div class="row padding__tb__1em">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <span>จำนวนรายการขอเบิก </span>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div style="float: right;font-size: 20px">
                            <span style="color:dodgerblue">{{ordersWaiting}}</span>
                            <span>รายการ</span>
                        </div>
                    </div>
                </div>
                <div class="row padding__tb__1em">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <span>จำนวนรายการเบิกที่รออนุมัติ </span>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div style="float: right;font-size: 20px">
                            <span style="color:goldenrod">{{ordersWaitingApprove}}</span>
                            <span>รายการ</span>
                        </div>
                    </div>
                </div>
                <div class="row padding__tb__1em">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <span>จำนวนรายการเบิกที่มีการค้างจ่าย </span>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div style="float: right;font-size: 20px">
                            <span style="color:firebrick">{{ordersUnpaid}}</span>
                            <span>รายการ</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="center padding__1em">
                <span style="font-size: 10pc">{{poApproved}}</span>
            </div> -->
        </div>
    </div>
</div>